/* LOGIN CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* background: url("https://img.freepik.com/free-photo/classic-luxury-style-restaurant-with-tables-chairs_140725-9389.jpg?w=740&t=st=1697784556~exp=1697785156~hmac=c498e52235f8f1e5b44e238c8f4cb7398fcee7bbfcd66f9c0ea925b3f9884e4e") */
    /* no-repeat; */
  background-position: center;
  background-size: cover;
}
.righht{
    color: black;
}
body{
    width: 100%;
    background: url("https://img.freepik.com/free-photo/classic-luxury-style-restaurant-with-tables-chairs_140725-9389.jpg?w=740&t=st=1697784556~exp=1697785156~hmac=c498e52235f8f1e5b44e238c8f4cb7398fcee7bbfcd66f9c0ea925b3f9884e4e")
      no-repeat;
    background-position: center;
    background-size: cover;
}
footer{
    border: 2px solid black;
    background-color: blanchedalmond;
}
.form-box {
  position: relative;
  width: 500px;
  height: 550px;
  background: transparent;
  border: 4px solid black;
  border-radius: 100px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}
.footer{
    color: black;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.adrs{
    display:flex ;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: black;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.left-links{
    width: 49%;
    
    height: 50vh;
}
.para{
    font-size: 28px;
    margin-top: 15px;
}
.addrs{
    font-size: 50px;
    margin-top: 30px;
    width: 35vw;
    height: 20vh;
    margin-left: 14%;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: black;
}
.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: black;
  font-size: 1.2em;
  top: 20px;
}
.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: black;
  display: flex;
  justify-content: space-between;
}
.forget label input {
  margin-right: 3px;
}
.forget label a {
  color: black;
  text-decoration: none;
}
.forget label a:hover {
  text-decoration: underline;
}
button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline;
}
.fab{
  font-size: 25px;
  margin-top: 3px;
  color: black;
}
/* LOGIN CSS ENDS */