/*search*/
.dropbtn {                                                                                        
    background-color: #4CAF50;
    color: white;
    padding: 9px;
    font-size:10px;
   
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #myInput {
    box-sizing: border-box;
    width: 235px;
 
    background-repeat: no-repeat;
    font-size:20px;
  
  }
  
  #myInput:focus {
    outline: -90px solid #ddd;
  
  }
  
  .dropdown {
    position: relative;
    display:contents;
    padding: auto;
  }
  
  .dropdown-content {
    display:none;
    position:relative;
    background-color: #f6f6f6;
    width:240px;

    overflow:visible;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    background-color:bisque;
    color: black;
    padding:6px;
    text-decoration:none;
    display: block;
    font-size:21px ;
  }
  
  .dropdown a:hover {
    
    background-color:chocolate}
  
  .show 
  {display:block;}


  